/* * {
  margin: 0;
  padding: 0;
} */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.6em 0.3em;
}
.btn:hover {
  opacity: 0.8;
}
.page-info {
  margi-left: 1rem;
}
.btn {
  background: #ffffff;
  color: green;
  padding: 1rem;
}
.drop-zone{
  max-width: : 500%;
  height : 20rem;
  padding : 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight:500;
  font-size:2rem;
  cursor : pointer;
  color: #cccccc;
  border : 2rem dashed #009578;
  border-radius: 2rem;
}
.drop-zone--over {
  border-style: solid;
}

.drop-zone__input{
  display: none;
}

.drop-zone__thumb{
  width: 20rem;
  height: 20rem;
  border-radius:1rem;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after{
  content: attr(data-label);
  position : absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding : 0.1rem 0;
  color : #ffffff;
  background: rgba(0,0,0,0.75);
  font-size: 1rem;
  text-align: center;
}
